.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.bg-home {
  /* The image used */
  background-image: url("https://images.unsplash.com/photo-1544180252-f47159b6b86e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80");

  /* Full height */
  
 
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}

#tagline-main #tagline-sub{
  color: black;
}

#call-to-action-btn {
  color: rgb(54, 54, 54);
  
}
/*
 * Dummy devices (replace them with your own or something else entirely!)
 */




/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }
